
h1{
    color:black;
      margin:auto;
      padding:10px;
      font-size:55px
    }
    .do
    {
      max-width: 350px;s
      border-radius: 5px;
      margin: auto;
      background: rgba(0,0,0,0.5);
      /* box-sizing: border-box; */
      padding: 10px;
      color: white;
      font-weight: bold;
      font-size: 13px;
      margin-left: 20px;
      /*margin-top: 10px;*/
    }
    .do[type="submit"]:hover
    {
      background:#efed40;
      color:#262626;
    }
      }
      